{% load static %}
<nav class="navbar navbar-expand-lg p-0">
  <div class="container-fluid">
    <a class="navbar-brand fa" href="{% url 'index' %}"><img src="{% static 'img/logo-bright.png' %}"> Readit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-outline-secondary m-2" href="{% url 'branch-list' %}">Branches</a>
        {% if request.user.is_authenticated %}
        <div class="dropdown">
          <a role="button" data-bs-toggle="dropdown">
            <img style="border-radius: 50%;" src="{{ user.profile.get_image_url }}" width="40" height="40"
              class="d-inline-block align-text-top m-2">
          </a>

          <ul style="background-color: var(--main-color)" class="dropdown-menu dropdown-menu-end">
            <li>
              <b class="ms-2">{{request.user}}</b>
              {% if user.pk %}
              <a class="dropdown-item" href="{% url 'profile' user.profile.pk %}">Profile</a>
              {% else %}
              <span>No profile available</span>
              {% endif %}

            </li>
            <li>
              <p style="color: gray" class="dropdown-item m-0 mt-2">Theme</p>
            </li>
            <li><a class="dropdown-item" href="{% url 'set-dark-theme' %}">Dark</a></li>
            <li><a class="dropdown-item" href="{% url 'set-light-theme' %}">Light</a></li>
            <li><a class="dropdown-item mt-2" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
        {% else %}
        <ul class="navbar-nav m-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item m-auto">
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item m-auto">
            <a class="nav-link active" href="{% url 'register' %}">Register</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</nav>